<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>Peabody, MA 01960</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Web Links</h3>
          <ul class="list-inline">
            <li>
              <a href="http://instagram.com/jferrair0" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
            </li>

            <li>
              <a href="https://twitter.com/jferrair0" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/pub/joseph-ferrairo/107/680/226" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/josephferrairo" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
            </li>
            <li>
              <a href="https://play.spotify.com/user/124099698" class="btn-social btn-outline"><i class="fa fa-fw fa-spotify"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Me</h3>
          <p>I am a Full Stack Ruby on Rails Web developer working out of Boston, MA. I am currently looking for some freelance development projects. If you have any questions or would like to work with me please feel free to <a href="mailto:josephferrairo@gmail.com?subject=Hi Joe!"style="color: #a259e2"><u>contact me.</u></a></p>
        </div>
      </div>
    </div>
  </div>
