<header>
    <div class="container center">
        <div class="row">
            <div class="col-lg-12">

                <%= image_tag"freelancer/jf.jpg", class: "img-circle img-responsive", alt: "" %>

                <div class="intro-text">
                    <span class="name">Joe Ferrairo</span>
                    <span class="skills">Full Stack Ruby on Rails Web Developer</span>

                </div>
            </div>
        </div>
    </div>

</header>
